@media all and (max-width: 401px) {
  .bottom {
    height: 28px;
  }

  html {
    background-image: none;
    background-color: #eee;
    border-radius: 7px;
  }


  a.labs {
    margin-right: 15px;
    border-top-right-radius: 7px;
  }

  .screen {
    margin-top: 16px;
  }

  .screen.intro {
    width: 100%;
  }

  .footer, body#about .bottom {
    background: initial;
  }

  .footer ul {
    margin-left: 5px;
  }

  .footer ul li a, .footer ul li.social {
    padding: 2px 10px;
    font-size: 20px;
  }

  .bottom, .bottom a, .bottom a:active, .bottom a:visited {
    color: #111;
  }

  .footer ul li a:hover {
    background: initial;
  }

  .footer ul li.social {
    display: none;
  }

  .create-own {
    display: none;
  }
}
