%h1 Tell your story 

.recordControls.hidden

  #recordButton.startRecording.reset{href: ""} REC
  %h3.help Press the record button <br/>and start telling your story. Hit the <SPACE> bar to slide to the next picture.

#recordStatus.hidden
  %span#timer 0.00
  %span#status 5 pictures left.

.clear


#selection
  %ul.images.step2-selection

= render :partial => "stories/bottom_controls"
